<!-- <div class="form-group">
  <H4>Welcome to the Airline System</H4>
   colocar os botoes uns ao lado do outro

  <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
  <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
  <a [routerLink]="['/flights']" class="btn btn-primary">Flights</a>

  <button  routerLink="/flight">Flights available</button>
</div> -->


<!-- <header></header> -->
<!-- <div class="form-group">
  <a [routerLink]="['/flight']" class="btn btn-primary">flight</a>
  <br />
  <a [routerLink]="['/myflights']" class="btn btn-primary">myflights</a>
</div> -->
<!-- <header>
  <div>
    <h1>Airline System</h1>
    <a [routerLink]="['/admin']" class="btn btn-primary logout">Logout</a>
  </div>
</header> -->
<router-outlet></router-outlet>
